# See https://git-scm.com/docs/gitattributesS
# See https://help.github.com/articles/dealing-with-line-endings/

# Default behavior, if core.autocrlf is unset.
* text=auto

# Files to be converted to native line endings on checkout.
*.cpp text
*.h text

*.bat text eol=crlf
*.sh text eol=lf
*.zig text eol=lf
